nextflow.enable.moduleBinaries = true    

process {
    withLabel: big_mem {
        maxForks = 1
        cpus = 10
        memory = 13.GB
    }
}

profiles {
    conda {
        conda.enabled = true 
        conda.useMamba = true 
    }
}

params {

    help = false
    publish_dir = "/data/bionets/yb85avem/NetMap/results"
    available_GRNInference_tools = "grnboost2"
    available_DGRNInference_tools = "boostdiff,z_score,ebcoexpress,diffcoex"
    create_metacells = true

    n_runs = 10
    boostdiff {
        n_estimators = 100
        n_features = 1500
        n_subsamples = 30
        n_processes = 8

        top_n_targets = 30
        top_n_edges = 150
    }
    grnboost2 {
        top_n_edges = 100
    }
}
