nextflow.enable.moduleBinaries = true    
nextflow.enable.dsl=2

process {
    withLabel: big_mem {
        maxForks = 1
        cpus = 6
        memory = 8.GB
    }

    withLabel: anndata_to_seurat {
        container = 'docker://nicolaimeyerhoefer/anndata_to_seurat'
    }

    withLabel: create_metacells {
        container = 'docker://nicolaimeyerhoefer/create_metacells'
    }

    withlabel: grnboost2 {
        container = 'docker://nicolaimeyerhoefer/grnboost2'
    }

    withLabel: zscore {
        container = 'docker://nicolaimeyerhoefer/zscore'
    }

    withLabel: boostdiff {
        container = 'docker://nicolaimeyerhoefer/boostdiff'
    }
}

conda.enabled = true

singularity {
    enabled = true
    runOptions = "--bind /data:/data"
}


params {

    help = false
    conda_env_path = '/data/bionets/yb85avem/envs/internetXplorer/envs'
    grn_mode = false
    create_metacells = true    
    use_tf_list = false 

    n_runs = 10
    boostdiff {
        n_estimators = 100
        n_features = 1500
        n_subsamples = 30
        n_processes = 8

        top_n_targets = 100
        top_n_edges = 200
    }
    grnboost2 {
        top_n_edges = 100
    }
    diffcoex {
        top_n_edges = 100
    }
    z_score {
        top_n_edges = 100
    }

}
