nextflow.enable.moduleBinaries = true    
nextflow.enable.dsl=2

process {
    withLabel: big_mem {
        maxForks = 1
        cpus = 6
        memory = 8.GB
    }
}

conda.enabled = true


params {

    help = false
    conda_env_path = '/home/bionets-og86asub/Documents/netmap/workflows/envs'
    grn_mode = false
    create_metacells = true    
    use_tf_list = false 

    n_runs = 10
    boostdiff {
        n_estimators = 100
        n_features = 1500
        n_subsamples = 30
        n_processes = 8

        top_n_targets = 100
        top_n_edges = 200
    }
    grnboost2 {
        top_n_edges = 100
    }
    diffcoex {
        top_n_edges = 100
    }
    z_score {
        top_n_edges = 100
    }

}
